#!/usr/bin/make -f
export PYBUILD_NAME=pre-commit

%:
	dh $@ --with=python3 --buildsystem=pybuild

man-pages:
	for binary in pre-commit pre-commit-validate-manifest pre-commit-validate-config; do \
		help2man --name $$binary --include debian/$$binary.help2man --no-info \
			debian/pre-commit/usr/bin/$$binary > debian/$$binary.man; \
		done

override_dh_auto_build:
	dh_auto_build --buildsystem=pybuild
